@model IOrderedQueryable<string>

@{
    ViewBag.Title = ViewBag.Entity;
    Layout = null;
}
<div class="btn-group">
    <ul>
    </ul>
</div>


<div class="btn-group">
    <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">Go to...<span class="caret"></span></a>
    <ul class="dropdown-menu">
            <li>@Html.ActionLink("Products", "Products", "ProductPage", new { area = "" }, null)</li>
            <li>@Html.ActionLink("API", "Index", "Help", new { area = "" }, null)</li>
        <li class="dropdown-submenu">
        @Html.ActionLink("MasterData...", "MasterDataMenu","Admin")
            <ul class="dropdown-menu">
                @foreach (var item in Model)
                {
                    <li>@Html.ActionLink(item, "MasterData", "Admin", new { id = item }, null)</li>
                }
            </ul>
        </li>
    </ul>
</div>